extends layout.pug

block content

  article.portfolio-intro

    h1 My Software Engineering Journey

    p This portfolio showcases projects I have worked on since starting my SWE journey. It utilizes Node.js, Express, and Pug templating. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/images/${project.id}_0.png`, alt=`${project.project_name} Thumbnail`)
            h5= project.project_name

